
/*

TABLE OF CONTENT


0. Imports
1. Sections
2. Headings
3. Navbar
4. Search
5. Top Bar
6. CountUps
7. Helper Classes
	a) Text-content
	b) Image-properties
	c) Buttons
	d) Lists
	e) Color Control
	f) Pagination
	g) Borders
	h) Animations
	i) Overlays
8. Preloader
9. Scroll to Top
10.clients
11. Testmonials
12.contact
13.progress bar
14.Team
15.tabs
16.feature box
17.service box



[END] TABLE OF CONTENT

*/
/*
0. Imports
*/
@import url("navigation.css");

/* logo */



.logo {
  height: 27px;
    width: 121px;
}
/*
1. Sections
*/
.section-block {
    padding: 90px 0px 90px 0px;
    background-color: #fff;
}
.section-block-grey {
    padding: 90px 0px 90px 0px;
    background-color: #fff;

}

.section-block-dark {
    padding: 90px 0px 90px 0px;
    background-color: #222;
}

.section-block-parallax {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    padding: 90px 0 90px 0;
}

.section-block-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 90px 0px 90px 0px;
}

.section-block-transparent {
    padding: 90px 0px 90px 0px;
    background: transparent;
}

.background-top {
    background-position: center left;
}

.primary-bg {
    background: #d21e2b !important;
}

.no-repeat {
    background-repeat: no-repeat;
}

.section-clients {
    background: #fff;
    padding: 50px 0px;
}

.section-clients-grey {
    background: #f9f9f9;
    padding: 50px 0px;
}

.notice-section {
    background: #fff;
    padding: 60px 0px;
}

.notice-section-parallax {
    position: relative;
    background-attachment: fixed;
    padding: 60px 0px;
}

.notice-section-grey {
    background: #f7f7f7;
    padding: 60px 0px;
}

.notice-section-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 60px 0px 60px 0px;
}

.notice-section h2, .notice-section-grey h2, .notice-section-bg h2 {
    position: relative;
    font-size: 42px;
    font-weight: 400;
    color: #111;
}

.notice-section h3, .notice-section-grey h3, .notice-section-bg h3 {
    position: relative;
    font-size: 35px;
    font-weight: 400;
    color: #111;
}

.notice-section h4, .notice-section-grey h4, .notice-section-bg h4 {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: #111;
}

.notice-section h5, .notice-section-grey h5, .notice-section-bg h5 {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    color: #111;
}

.notice-section h6, .notice-section-grey h6, .notice-section-bg h6 {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #111;
}

.dark-bg {
    background: #111;
}

.full-background {
    background-size: cover;
}

.notice-section-sm {
    padding: 40px 0px;
}

.notice-section-md {
    padding: 60px 0px;
}

.notice-section-lg {
    padding: 80px 0px;
}


.section-sm {
    padding: 30px 0px;
}

.section-md {
    padding: 40px 0px;
}

.section-lg {
    padding: 80px 0px;
}

.min-350 {
    min-height: 350px;
}

/*
2. Headings
*/
.section-heading {
    margin-bottom: 10px;
}

.section-heading h2 {
    position: relative;
    font-size: 42px;
    font-weight: 500;
    color: #111;
    line-height: 130%;
    margin-bottom: 10px;
}

.section-heading h3 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: #111;
    line-height: 130%;
    margin-bottom: 10px;
}

.section-heading h4 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #111;
    line-height: 160%;
    margin-bottom: 10px;
}

.section-heading h5 {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #111;
    line-height: 160%;
    margin-bottom: 10px;
}

.section-heading h6 {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #111;
    line-height: 160%;
    margin-bottom: 10px;
}

.section-heading strong {
    font-weight: 600;
}

.section-heading-line {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #d21e2b;
    border-radius: 25%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #d21e2b;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.section-heading p {
    font-size: 15px;
    font-weight: 400;
    color: #aaa;
    line-height: 160%;
    padding-top: 15px;
    margin-bottom: 0px;
}

.section-heading span {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #d21e2b;
    line-height: 200%;
    margin-bottom: 10px;
}

.page-title-section {
    padding: 110px 0px 110px 0px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.page-title-section h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    color: #111;
    text-align: center;
    margin-bottom: 10px;
}

.page-title-section ul li {
    display: inline-block;
}

.page-title-section ul li:after {
    content: ' \f105';
    color: #fff;
    font-family: 'FontAwesome';
    padding: 0px 10px;
}

.page-title-section ul li:last-child:after {
    content: none;
}

.page-title-section ul li a {
    color: #111;
    font-size: 14px;
    font-weight: 500;
}

.page-title-section ul li a:hover {
    color: #111;
}


/*
3. Navbar
*/
.nav-menu > li:hover > a,
.nav-menu > li.active > a,
.nav-menu > li.focus > a {
    color: #d21e2b;
}

.nav-menu > li:hover > a .submenu-indicator-chevron,
.nav-menu > .active > a .submenu-indicator-chevron,
.nav-menu > .focus > a .submenu-indicator-chevron {
    border-color: transparent #d21e2b #d21e2b transparent;
}

.nav-search-button:hover .nav-search-icon {
    color: #d21e2b;
}

.nav-button {
    height: auto !important;
    margin: 18px 15px 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #d21e2b;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.megamenu-list > li > a:hover {
    color: #d21e2b;
}

@media (min-width: 991px) {
    #nav-transparent .nav-menu > li:hover > a,
    #nav-transparent .nav-menu > li.active > a,
    #nav-transparent .nav-menu > li.focus > a {
        color: #d21e2b;
    }

    #nav-transparent .nav-menu > li:hover > a .submenu-indicator-chevron,
    #nav-transparent .nav-menu > .active > a .submenu-indicator-chevron,
    #nav-transparent .nav-menu > .focus > a .submenu-indicator-chevron {
        border-color: transparent #d21e2b #d21e2b transparent;
    }

    #nav-transparent .nav-dropdown > li:hover > a .submenu-indicator-chevron,
    #nav-transparent .nav-dropdown > .focus > a .submenu-indicator-chevron {
        border-color: transparent #d21e2b #d21e2b transparent;
    }

    #nav-transparent .nav-white-bg .nav-menu > li:hover > a {
        color: #d21e2b;
    }
}

.nav-dropdown > li:hover > a,
.nav-dropdown > li.focus > a {
    color: #d21e2b;
}


.nav-dropdown > li:hover > a .submenu-indicator-chevron,
.nav-dropdown > .focus > a .submenu-indicator-chevron {
    border-color: transparent #d21e2b #d21e2b transparent;
}

/*
4. Search
*/
#search_nav {
    display: inline-block;
    z-index: 9999;
}

.search-holder {
    color: #323232;
    margin-top: 18px;
    border-left: 1px solid #f7f7f7;
}

.search-button {
    padding-left: 12.5px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .search-holder {
        border: none !important;
    }

    .search-button i {
        padding: 17px 0px;
        cursor: pointer;
    }

    .search-button i:after {
        font-family: 'Nunito', sans-serif;
        content: 'Search';
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        padding-left: 10px;
    }

    .search-overlay-content input {
        margin: 30px;
        max-width: 80%;
    }

    .search-overlay-content {
        position: relative;
        top: 15% !important;
        text-align: center;
    }
}

.search-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.search-overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.search-overlay-content input {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    opacity: 0.5;
    padding: 15px 15px;
}

.search-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.search-overlay a:hover, .search-overlay a:focus {
    color: #f1f1f1;
}

.search-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .search-overlay a {
        font-size: 20px
    }

    .search-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*
5. Top-Bar
*/
@media (max-width: 991px) {
    #top-bar.hidden-sm-down {
        display: none !important;
    }
}

#top-bar {
    display: block;
    position: relative;
    z-index: 999;
    background: #2a2a2a;
    height: 45px;
}

.top-bar-welcome {
    display: inline-block;
}

.top-bar-welcome ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.top-bar-welcome li {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    list-style-type: none;
    margin: 0px;
    padding-top: 2px;
    margin-right: 5px;
}


.top-bar-info {
    display: inline-block;
}

.top-bar-info ul {
    padding-left: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 20px;
}

.top-bar-info li {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    list-style-type: none;
    display: inline-block;
    padding: 13.5px 5px 0px 5px;
    margin-bottom: 0px;
}

.top-bar-info li i {
    font-size: 13px;
    color: #d21e2b;
    margin-right: 8px;
}

.social-icons {
    padding: 0px;
    float: right;
    margin: 0px;
}

.social-icons li {
    font-size: 14px;
    list-style-type: none;
    float: left;
    width: 35px;
    text-align: center;
    margin: 0px;
    padding: 13px 0px 13px 0px;
}

.social-icons li a {
    opacity: .7;
    color: #fff;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.social-icons a:hover {
    opacity: 1;
}


/*
6. CountUps
*/

.counter-box {
    position: relative;
    text-align: center;
    margin: 15px 0px;
}

@media (max-width: 767px) {
    .counter-box {
        margin: 30px;
    }
}

.counter-box h4 {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: #111;
}

.counter-box h4:after {
    content: '+';
}


.counter-box h3 {
    display: inline-block;
    font-size: 45px;
    font-weight: 600;
    color: #111;
}

.counter-box h3:after {
    content: '+';
}

.counter-box h2 {
    display: inline-block;
    font-size: 55px;
    font-weight: 600;
    color: #111;
}

.counter-box.disable-line h2 {
    margin-bottom: 0;
}

.counter-box h2:after {
    content: '+';
}

.counter-box p {
    font-size: 15px;
    font-weight: 500;
    color: #999;
    line-height: 1.7;
    margin-top: 10px;
}

.counter-box.disable-line p {
    font-size: 18px;
    margin-top: 0;
}

.counter-box p:before {
    content: '';
    display: block;
    background: #d21e2b;
    height: 3px;
    width: 70px;
    margin: 10px auto;
}

.counter-box.disable-line p:before {
    content: none;
}

.counter-box.left-holder p:before {
    content: '';
    display: block;
    background: #d21e2b;
    height: 3px;
    width: 70px;
    margin: 10px 0px;
}


/*
7. Helper Classes
*/

/*--------------------
a) Text-content
----------------------*/
.text-content p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 190%;
    margin-bottom: 15px;
}

.text-content-big p {
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 200%;
    margin-bottom: 15px;
}

.text-content-small p {
    font-size: 12px;
    font-weight: 400;
    color: #999;
    line-height: 200%;
    margin-bottom: 15px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-thin {
    font-weight: 400 !important;
}

.text-semi-bold {
    font-weight: 600 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-bold p {
    font-weight: 700 !important;
}


/*
b) Image-properties
*/
.rounded-border {
    border-radius: 10px !important;
}

.semi-rounded {
    border-radius: 5px !important;
}

.no-rounded {
    border-radius: 0px !important;
}

.shadow-primary {
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.full-width {
    width: 100%;
}

.half-width {
    min-width: 50%;
}

.full-height {
    height: 100%;
}


/*c) Buttons
*/
.primary-button {
    background: #d21e2b;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.primary-button:hover {
    background: #222;
    color: #fff;
}

.primary-button-bordered {
    background: transparent;
    color: #d21e2b;
    border: 2px solid #d21e2b;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.primary-button-bordered.button-lg {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 13px 38px 13px 38px !important;
}

.primary-button-bordered:hover {
    background: #d21e2b;
    color: #fff;
}

.white-button {
    background: #fff;
    transition: background-position 0.5s;
    color: #111;
    border: 1px solid #ccc;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.white-button:hover {
    color: #111;
    transform: translateY(-.4rem);
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}


.dark-button {
    background: #111;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.dark-button:hover {
    color: #fff;
    background: #d21e2b;
}


.bordered-button {
    background: transparent;
    border: 2px solid #d21e2b;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.bordered-button:hover {
    border: 2px solid #d21e2b;
    background: #d21e2b;
    color: #fff;
}

.slider-btn {
    font-family: inherit !important;
    transition: 0.3s !important;
}

.button-tag {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0px 0px 0px;
    padding: 8px 15px 8px 15px !important;
}

.button-xs {
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    padding: 8px 17px 8px 17px;
}

.button-sm {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    padding: 11px 22px 11px 22px;
}

.button-md {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 25px 13px 25px;
}

.button-lg {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 14px 38px 14px 38px !important;
}

.pricing-box-1-button {
    position: relative;
    margin-top: 25px;
}

.pricing-box-1-button a {
    background: transparent;
    font-weight: 500;
    color: #d21e2b;
    display: inline-block;
    border: 2px solid #d21e2b;
    border-radius: 5px;
    padding: 8px 22px;
}

.pricing-box-1-button a:hover {
    background: #d21e2b;
    color: #fff;
}

.menu-tag {
    display: inline-block;
    background: #d21e2b;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px;
    padding: 3px 5px;
    margin-left: 5px;
}

/*
d) Lists
*/
.primary-list {
    padding-left: 0px;
}

.primary-list li {
    list-style-type: none;
    color: #222;
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
}

.primary-list li i {
    color: #d21e2b;
    padding-right: 10px;
}

.dark-list {
    padding-left: 0px;
}

.dark-list li {
    list-style-type: none;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.dark-list li i {
    color: #222;
    padding-right: 10px;
}


.white-list {
    padding-left: 0px;
}

.white-list li {
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.white-list li i {
    color: #d21e2b;
    padding-right: 15px;
}

/*
e) Color Control
*/
.primary-color,
.primary-color h1,
.primary-color h2,
.primary-color h3,
.primary-color h4,
.primary-color h5,
.primary-color h6,
.primary-color p,
.primary-color i,
.primary-color span {
    color: #d21e2b !important;
}

.dark-color h1,
.dark-color h2,
.dark-color h3,
.dark-color h4,
.dark-color h5,
.dark-color h6,
.dark-color p,
.dark-color i,
.dark-color span {
    color: #111 !important;
}

.white-color,
.white-color h1,
.white-color h2,
.white-color h3,
.white-color h4,
.white-color h5,
.white-color h6,
.white-color p,
.white-color i,
.white-color span {
    color: #fff !important;
}


/*
g) Pagination
*/
.paginator {
    display: inline-block;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #2d2d2d;
    background: #f1f1f1;
    padding: 10px 15px 10px 15px;
    margin: 3px;
}

.paginator:hover {
    color: #fff;
    background: #bda87f;
}

.paginator:focus {
    color: #fff;
    background: #bda87f;
}

.active-page {
    color: #fff;
    background: #bda87f;
}


/*
h) Borders
*/
.border-top {
    border-top: 1px solid #ececec !important;
}

.border-bottom {
    border-bottom: 1px solid #ececec;
}

.border-left {
    border-left: 1px solid #ececec;
}

.border-right {
    border-right: 1px solid #ececec;
}

.border-full {
    border: 1px solid #ececec;
}


/*
i) Animations
*/
@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(.85);
        transform: scale(.85);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(.85);
        -ms-transform: scale(.85);
        transform: scale(.85);
    }
}

/*
f) Overlays
*/
.black-overlay-5:before {
    background: rgba(0, 0, 0, 0.05);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-10:before {
    background: rgba(0, 0, 0, 0.1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-20:before {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-30:before {
    background: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-40:before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-50:before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-60:before {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-70:before {
    background: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-80:before {
    background: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-90:before {
    background: rgba(0, 0, 0, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.black-overlay-100:before {
    background: rgba(0, 0, 0, 1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

/*
8. Preloader
*/
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
    display: table;
    text-align: center;
}

.loader {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: relative;
    width: 200px;
    height: 200px;
}

.loader-icon {
    width: 80px;
    height: 80px;
    border: 2px solid #d21e2b;
    border-right-color: #eee;
    border-radius: 50%;
    position: relative;
    animation: loader-rotate 1s linear infinite;
    margin: 0 auto;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
9. Scroll To Top Button
*/
.scroll-to-top {
    font-size: 20px;
    padding: 6px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    right: 10px;
    display: none;
    border-radius: 50%;
    background: #333;
    width: 40px;
    height: 40px;
    z-index: 9999;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.scroll-to-top i {
    color: #fff;
}

.scroll-to-top:hover {
    color: #111;
    background: #fff;
}

.scroll-to-top:hover i {
    color: #111;
}

.scroll-to-top:visited {
    color: #111;
    text-decoration: none;
}


/*
10. Clients
*/
.clients img {

    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

/*
11. Testmonials
*/
.testmonial-item {
    position: relative;
    display: inline-block;
}

.testmonial-item-bxx {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 30px 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff;
    margin: 30px 0px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.testmonial-arrow {
    position: absolute;
    bottom: -25px;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 37px 20px 0 0;
    border-color: #d21e2b transparent transparent transparent;
    display: none;
}

.testmonial-item-bxx-img {
    opacity: 0;
}

.testmonial-item-img {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.testmonial-item-img img {
    border-radius: 100%;
    width: 75px !important;
    height: 75px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.testmonial-item-name {
    display: inline-block;
    transform: translateY(-18px);
    margin-left: 15px;
}

.testmonial-item h4 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
}

.testmonial-item span {
    color: #d21e2b;
    font-size: 13px;
    font-weight: 500;
}

.testmonial-item p {
    color: #999;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    line-height: 1.6;
}


.testmonial-box-4-img img {
    width: 150px !important;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 15px auto 0 auto;
}

.testmonial-box-4-text {
    padding: 15px 15px 15px 20px;
}

.testmonial-box-4-text:before {
    position: absolute;
    left: 0px;
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 22px;
    color: #d21e2b;
    display: inline-block;
    margin-bottom: 15px;
}

.testmonial-box-4-text p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.testmonial-box-4-text h4 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.testmonial-box-4-text h5 {
    color: #999;
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
}

@media (max-width: 575px) {
    .testmonial-box-4-img {
        margin-left: 10px;
    }

    .testmonial-box-4-img img {
        width: 90px !important;
        height: 90px;
        border: 3px solid #fff;
        border-radius: 50%;
    }

}

.owl-item.center > div .testmonial-item-bxx {
    background: #d21e2b;
    border: 1px solid #d21e2b;
    cursor: auto;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}

.owl-item.center > div .testmonial-item-bxx-img {
    opacity: 1;
}

.owl-item.center > div .testmonial-arrow {
    display: block;
}

.owl-item.center > div p {
    color: #fff;
}

/*
12. Contact
*/

.contact-form input {
    font-weight: 500 !important;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #f6f7f8;
    background: #f6f7f8;
    color: #777 !important;
    outline: none;
    width: 100%;
    padding: 14px;
    margin: 10px 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.contact-form textarea {
    font-weight: 500 !important;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #f6f7f8;
    background: #f6f7f8;
    color: #777 !important;
    outline: none;
    width: 100%;
    padding: 14px;
    margin: 10px 0px;
    margin-bottom: 5px;
    min-height: 200px;
    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.contact-form input:focus, .contact-form textarea:focus {
    background: #fff;
    border-color: #ececec;
}

.contact-form button {
    display: inline-block;
    background: #111;
    color: #fff;
    font-size: 14px;
    width: 100%;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 15px;
}

.contact-form button:hover {
    background: #fff;
    color:#333;
}

/*INFO*/
.contact-info-box {
    padding: 0px 15px;
    position: relative;
    top: 100px;
    left: 40px;
}

.contact-info-section {
    border-bottom: 1px solid #ececec;
    padding: 25px 0px;
    margin-bottom: 0px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.contact-info-section i {
    width: 60px;
    height: 60px;
    padding-top: 17px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    font-size: 25px;
    margin-top: 5px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.contact-info-section:hover .contact-info-section i {
   background: #fff;
   color:#333;
}

.contact-info-section h4 {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact-info-section p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
}

#map {
    height: 400px;
    width: 100%;
}
/*
13. Progress Bars
*/
.progress-text {
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
    margin-top: 20px;
}

.custom-progress {
    height: 5px;
    border-radius: 50px;
    box-shadow: none;
}

.custom-bar {
    height: 100%;
    background-color: #d21e2b;
    box-shadow: none;
}

.custom-bar-dark {
    height: 100%;
    background-color: #111;
    box-shadow: none;
}

.progress-medium {
    height: 8px;
    border-radius: 50px;
    box-shadow: none;
}

.progress-bold {
    height: 12px;
    border-radius: 50px;
    box-shadow: none;
}
/*
14. Team
*/
.team-box-2 {
    position: relative;
}

.team-box-2-image {
    position: relative;
    margin: 15px 0px 15px 0px;
}

.team-box-2-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.team-box-2-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
}

.team-box-2:hover .team-box-2-overlay {
    opacity: 1;
}

.team-box-2-content {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 50px;
}

.team-box-2-content i {
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: transparent;
    padding: 10px;
    transition: .6s ease;
}

.team-box-2-content i:hover {
    color: #000;
    background: #fff;
}

.team-box-2:hover .team-box-2-overlay i {
    animation-name: fadeInUp;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}


.team-box-2-name {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 50px;
}

.team-box-2-name h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.team-box-2:hover .team-box-2-overlay h4 {
    animation-name: fadeInDown;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.team-box-2-name h5 {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
    text-align: center;
}

.team-box-2:hover .team-box-2-overlay h5 {
    animation-name: fadeInDown;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}
/*--------------
  Team Single
----------------*/
.team-single-img {
    width: 100%;
}

.team-single-img img {
    border-radius: 5px;
}

.team-single-text {
    padding: 5px 50px 15px 15px;
}

.team-single-text span {
    color: #d21e2b;
    font-size: 14px;
    font-weight: 500;
}

.team-single-text h4 {
    color: #111;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.team-single-info {
    padding: 0px 0px;
}

.team-single-info li strong {
    color: #555;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.team-single-text li span {
    color: #777;
    font-size: 15px;
    font-weight: 400;
}


.team-single-social {
    padding: 5px 0px;
}

.team-single-social li {
    display: inline-block;
}

.team-single-social li a {
    display: inline-block;
    margin-right: 15px;
    background: #d21e2b;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.team-single-social li a:hover {
    display: inline-block;
    margin-right: 15px;
    background: #111;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.team-single-social li a i {
    color: #fff;
    font-size: 15px;
    padding: 11px 0px 0px 11px;
}


/*
15. Tabs
*/

/*
 Default Tabs
*/
.default-tabs .tabs {
    position: relative;
}

.default-tabs .tabs .tab-menu li {
    background: #f7f7f7;
    display: inline-block;
    text-align: center;
}

.default-tabs .tabs .tab-menu li a {
    color: #111;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 18px 24px;
    text-decoration: none;
}

.default-tabs .tabs .tab-menu li a i {
    color: #d21e2b;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    text-decoration: none;
}

.default-tabs .tabs .tab-menu li:hover a, .default-tabs .tabs .tabs li:hover i {
    color: darkslateblue;
}

.default-tabs .tab-menu .active-tab a, .default-tabs .active-tab a i {
    color: darkslateblue !important;
}


.default-tabs .tab-menu {
    margin-bottom: 4px;
}

@media screen and (max-width: 1200px) {
    .default-tabs .tabs .tab-menu li {
        background: #f7f7f7;
        display: inline-block;
        text-align: center;
        width: auto;
    }

    .default-tabs .tabs .tab-menu li a {
        color: #111;
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding: 18px 24px;
        text-decoration: none;
    }
}

@media screen and (max-width: 767px) {
    .default-tabs .tabs .tab-menu li {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 4px;
    }

    .default-tabs .tab-menu .tabs li a {
        display: block;
        padding: 18px 14px;
    }

    .default-tabs .tab-menu .tabs li i {
        font-size: 25px;
    }
}

.tab-body {
    display: block;
    position: relative;
    padding: 25px;
    background: #f7f7f7 !important;
}

.tab-body h2 {
    font-size: 30px;
    color: #111;
    font-weight: 300;
    margin-bottom: 10px;
}

.tab-body h3 {
    font-size: 25px;
    color: #111;
    font-weight: 500;
    margin-bottom: 10px;
}

.tab-body h4 {
    font-size: 20px;
    color: #111;
    font-weight: 500;
    margin-bottom: 10px;
}

.tab-body h5 {
    font-size: 15px;
    color: #111;
    font-weight: 500;
    margin-bottom: 10px;
}

.tab-body h2:after, .tab-body h3:after, .tab-body h4:after, .tab-body h5:after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #d21e2b;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab-body p {
    font-size: 15px;
    color: #999;
    line-height: 1.7;
    font-weight: 400;
    margin: 5px;
}

/*
 Icon Tabs
*/
.big-icon-tabs .tabs {
    position: relative;
}

.big-icon-tabs .tabs .tab-menu li {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.big-icon-tabs .tabs .tab-menu li:last-child {
    margin-right: 0px;
}

.big-icon-tabs .tabs .tab-menu li a {
    background: #ececec;
    color: #111;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 18px 24px;
    text-decoration: none;
    border-top: 2px solid #ececec;
}

.big-icon-tabs .tabs .tab-menu li a i {
    color: #d21e2b;
    display: block;
    font-size: 40px;
    margin-bottom: 10px;
    text-decoration: none;
}

.big-icon-tabs .tabs .tab-menu li:hover a, .big-icon-tabs .tabs .tabs li:hover i {
    color: #d21e2b;
}

.big-icon-tabs .tab-menu .active-tab a, .big-icon-tabs .active-tab a i {
    border-color: #d21e2b !important;
}

.big-icon-tabs .tab-menu .active-tab a {
    background: #f7f7f7 !important;
}


@media screen and (max-width: 1200px) {
    .big-icon-tabs .tabs .tab-menu li {
        background: #f7f7f7;
        display: inline-block;
        text-align: center;
        width: auto;
    }

    .big-icon-tabs .tabs .tab-menu li a {
        color: #111;
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding: 18px 24px;
        text-decoration: none;
    }
}

@media screen and (max-width: 767px) {
    .big-icon-tabs .tabs .tab-menu li {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 4px;
    }

    .big-icon-tabs .tab-menu .tabs li a {
        display: block;
    }

    .big-icon-tabs .tab-menu .tabs li i {
        font-size: 25px;
    }
}
/*
	16.Feature box
*/
.feature-box-long {
    position: relative;
    text-align: center;
    border: 1px solid #ececec;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    -moz-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    margin: 15px 0px;
    padding: 30px 40px 35px 40px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.feature-box-long:hover {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.29);
}

.feature-box-long h3 {
    font-size: 19px;
    font-weight: 500;
    color: #111;
    margin: 25px 0px 15px 0px;
}

.feature-box-long i {
    color: #111;
    font-size: 65px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.feature-box-long p {
    font-size: 15px;
    font-weight: 400;
    color: #aaa;
}
/*
	17.Service box
*/
.service-box-car-2 {
    display: block;
    background: #fff;
    text-align: center;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.07);
    border-radius: 5px;
    padding: 30px 25px;
    margin: 15px;
    margin-bottom: 30px;
}

.service-box-car-2 i {
    display: block;
    color: #111;
    font-size: 55px;
    margin-bottom: 5px;
}

.service-box-car-2 h4 {
    color: #111;
    font-size: 18px;
    margin: 18px 0px;
}

.service-box-car-2 p {
    font-size: 15px;
    color: #999;
    line-height: 1.7;
    margin-bottom: 0px;
}
